.sobre {
    font-size: 18px;
    color: #f5f3f1;
    text-align: center;
    padding: 20px; 
}

h2 {
    color: #d996df; 
    margin: 20px 0; 
}

h3 {
    color: #d996df; 
    margin: 15px 0; 
}

p {
    margin-bottom: 10px;
}